.controls {
	padding: 1em;
}

.controls div {
	display: inline-block;
	margin: 0.6em;
}

.controls input[type="number"] {
	width: 7em;
	color: #ffffff;
	background-color: #004b67;
	padding: 0.5em;
	border: 1px solid #000000;
	text-align: center;
	font-size: 10pt;
}

.controls .generate.button .icon {
	background-image: url(images/glyphicons_136_cogwheel.png);
}

.options ul {
	display: inline-block;
	font-size: 10pt;
	margin: 0;
	padding: 0.5em;
	list-style: none;
}

.options ul li {
	cursor: default;
	display: inline-block;
	list-style-type: none;

	padding-left: 0.25em;
	padding-right: 0.25em;
}

.options ul li input[type="checkbox"] {
	position: relative;
	top: 2px;
	margin: 0;
	cursor: pointer;
}

.options ul li label {
	cursor: pointer;
}

.output {
	font-family: monospace;
	text-align: center;
}

.output ul {
	padding: 0.5em;
	list-style: none;
}

.output ul li {
	list-style-type: none;
}

.footer {
	padding: 1em;
}

.footer .clear.button .icon {
	background-image: url(images/glyphicons_207_remove_2.png);
}

@media (min-width: 800px) {
	.controls div {
		margin: 0.3em;
	}

	.options ul li input[type="checkbox"] {
		top: 0px;
	}
}